@charset "utf-8";
/* CSS Document */
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  /* src: url("/fonts/NanumSquareL.eot");
  src: url("/fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumSquareL.woff") format("woff"),
    url("/fonts/NanumSquareL.ttf") format("truetype"); */
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  /* src: url("/fonts/NanumSquareR.eot");
  src: url("/fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumSquareR.woff") format("woff"),
    url("/fonts/NanumSquareR.ttf") format("truetype"); */
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  /* src: url("/fonts/NanumSquareB.eot");
  src: url("/fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumSquareB.woff") format("woff"),
    url("/fonts/NanumSquareB.ttf") format("truetype"); */
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  /* src: url("/fonts/NanumSquareEB.eot");
  src: url("/fonts/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumSquareEB.woff") format("woff"),
    url("/fonts/NanumSquareEB.ttf") format("truetype"); */
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  /* src: url("/fonts/NanumSquareL.eot");
  src: url("/fonts/NanumSquareL.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NanumSquareL.woff") format("woff"),
    url("/fonts/NanumSquareL.ttf") format("truetype"); */
}

* {
  font-size-adjust: none;
  -webkit-font-size-adjust: none;
  -moz-font-size-adjust: none;
  -o-font-size-adjust: none;
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #323130;
  opacity: 0.5;
}
:-moz-placeholder {
  color: #323130;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #323130;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #323130;
  opacity: 0.5;
}
caption {
  display: none;
}
html,
body {
  height: 100%;
}
body {
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 13px;
  line-height: 1.5;
  font-family: "NanumSquare", sans-serif;
  color: #323130;
  letter-spacing: -0.5px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
header,
nav,
menu,
section,
article {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
  vertical-align: middle;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
textarea {
  padding: 0 5px;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="number"] {
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  border: 1px solid #dadada;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="button"] {
  -webkit-appearance: none;
  border: 0;
}
input[type="search"]:-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
  border: none !important;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  /* font-weight:normal*/
}
table {
  width: 100%;
  border-collapse: collapse;
}
img {
  vertical-align: middle;
}

/*input*/
input[type="text"],
input[type="password"],
input[type="number"] {
  border: 1px solid #dadada;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  box-sizing: border-box;
}
select {
  border: 1px solid #dadada;
  height: 24px;
  padding: 3px 3px 3px 4px;
  vertical-align: middle;
  line-height: 24px;
}
input[type="file"] {
  vertical-align: middle;
  height: 22px;
  width: 80%;
  margin-right: 6px;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

legend,
caption {
  display: none;
}
